.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top_panel {
  width: 500px;
  display: flex;
  justify-content: space-around;
}

.settings {
  width: 50px;
  height: 50px;
}

.settings_menu {
  display: none;
  position: absolute;
  top: 58px;
  width: 300px;
  height: auto;
  background-color: white;
  color: black;
}

.settings_menu.settings_menu_active {
  display: block;
}

.reset {
  width: 50px;
  height: 50px;
}

.time_count {
  width: 50px;
  height: 50px;
}

.turns_count {
  width: 50px;
  height: 50px;
}

.records {
  width: 50px;
  height: 50px;
}

.records_list {
  display: none;
  position: absolute;
  top: 58px;
  width: 300px;
  margin: 0;
  height: auto;
  background-color: white;
  color: black;
}

.records_list.records_list_active {
  display: block;
}
