.container {
  margin: 0 auto;
  padding: 0;
}

.top_panel {
  display: flex;
}

.settings {
  width: 50px;
  height: 50px;
}

.settings_menu {
  width: 50px;
  height: 50px;
  background-color: bisque;
  display: none;
}

.settings_menu.active {
  display:block;
}

.reset {
  width: 50px;
  height: 50px;
}

.time {
  width: 50px;
  height: 50px;
}

.turns {
  width: 50px;
  height: 50px;
}
