.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top_panel {
  width: 500px;
  display: flex;
  justify-content: space-around;
}

.settings {
  width: 50px;
  height: 50px;
}

.settings_menu {
  display: none;
  position: absolute;
  top: 58px;
  width: 300px;
  height: auto;
  background-color: white;
  color: black;
  padding: 20px;
}

.settings_menu.settings_menu_active {
  display: block;
}

.reset {
  width: 50px;
  height: 50px;
}

.time_count {
  width: 50px;
  height: 50px;
}

.turns_count {
  width: 50px;
  height: 50px;
}

.records {
  width: 50px;
  height: 50px;
}

.records_list {
  display: none;
  position: absolute;
  top: 58px;
  width: 300px;
  margin: 0;
  height: auto;
  background-color: white;
  color: black;
  padding: 30px;
}

.records_list.records_list_active {
  display: block;
}

.records_list li {
  margin: 0 0 5px 0;
}

.theme {
  margin: 0 0 10px 0;
}

.theme div {
  margin: 0 0 5px 0;
  font-weight: bold;
}

.difficulty {
  margin: 0 0 10px 0;
}

.difficulty div {
  margin: 0 0 5px 0;
  font-weight: bold;
}

.mines {
  margin: 0 0 10px 0;
}

.mines div {
  margin: 0 0 5px 0;
  font-weight: bold;
}

.sound div {
  margin: 0 0 5px 0;
  font-weight: bold;
}

.records_title {
  font-weight: bold;
  margin: 0 0 10px 0;
}